@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    background-image: linear-gradient(to bottom, #F29F05 70%,#D93D04);
    background-attachment: fixed;
}

main{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a33209c0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F25C05;
    text-align: center;
    text-shadow: 1px 1px 0px #c94e07d2;
}

h2{
    color: #F28705;
}

p{
    color: #D93D04;
    text-align: justify;
}

